@import '../variables'

@import 'components/topbar'
@import 'components/navbar'
@import 'components/hero'
@import 'components/page-banner'
@import 'components/footer'

section
    padding: 24px 0
.overlay    
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, .3)

.wu-item
    background: $color-blue
    height: 200px
    margin-bottom: 24px
    border-radius: $default-radius
    border-left: 10px solid $color-yellow
    position: relative
    background-position: center !important
    background-size: cover !important
    padding: 12px
    display: flex
    align-items: end
    h4
        color: $color-white
        font-size: 2rem
        font-weight: bold
.bg-image
    background-position: center !important
    background-size: cover !important
    background-repeat: no-repeat !important

.slug-link
    text-decoration: none
    color: $color-white
    &:hover img
        transform: scale(1.1)
    .slug-item
        position: relative
        height: 200px
        display: flex
        img
            width: 150%
            position: absolute
            align-self: center
            transition: all .3s
        h4
            font-size: 1.3rem
            line-height: 1
        p
            font-size: 1rem 
            margin-bottom: 0
